border-radius()
        -webkit-border-radius arguments
        -moz-border-radius arguments
        border-radius arguments
box-shadow()
        -webkit-box-shadow arguments
        -moz-box-shadow arguments
        box-shadow arguments
.dropzone.dragover
        border 10px dashed #303030
        position relative
.dropzone
        position relative
        display table-cell
        text-align center
        vertical-align middle
        border 10px dashed #C0C0C0
        font-weight bold
        border-radius 25px
        width 20em
        height 10em
#output img, .uploadOutput img
        margin 5px
        float left
        border 1px solid transparent
#output img:hover, .uploadOutput img:hover
        box-shadow 0 0 5px 5px #ccc
        border 1px solid #999
.over50
	background-color red
	opacity 0.5
